.ariane_link {
    color:#1a1818;
    /* text-shadow: 0px 0px 3px #ffffff; FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
    text-decoration: underline;
}

.ulink {
    text-decoration: underline;
}

.textinput,
.passwordinput {
  color: #424242;
}
