# Do not read .env files
DJANGO_READ_DOT_ENV_FILE=False

# Test Environment Configuration
# -----------------------------------------------------------------------------
GITLAB_GROUP_ID=<placeholder>
GITLAB_GROUP_NAME=<placeholder>
GITLAB_HOST_URL=<placeholder>
GITLAB_TOKEN=<placeholder>

# Test Database
DATABASE_URL=sqlite:///test.db

# Local File Storage (Tests use temp directory)
# ------------------------------------------------------------------------------
USE_S3=True
LOCAL_MEDIA_ROOT=/tmp/speleodb-test-resources

# AWS S3 Configuration (disabled for tests)
# ------------------------------------------------------------------------------
AWS_ACCESS_KEY_ID=<placeholder>
AWS_SECRET_ACCESS_KEY=<placeholder>
AWS_STORAGE_BUCKET_NAME=<placeholder>
AWS_S3_REGION_NAME=us-east-1