# Do not read .env files
DJANGO_READ_DOT_ENV_FILE=False

# Test Database
DATABASE_URL=sqlite:///test.db


# AWS S3 Configuration
# ------------------------------------------------------------------------------
AWS_ACCESS_KEY_ID=access_key
AWS_SECRET_ACCESS_KEY=secret_key
AWS_STORAGE_BUCKET_NAME=<placeholder>
AWS_S3_REGION_NAME=us-east-1
AWS_S3_ENDPOINT_URL=http://localhost:9000
AWS_S3_USE_SSL=False
AWS_S3_VERIFY=False
AWS_S3_ADDRESSING_STYLE="path"
AWS_S3_CUSTOM_DOMAIN="localhost:9000/${AWS_STORAGE_BUCKET_NAME}"


# MAPBOX Configuration
# ------------------------------------------------------------------------------
MAPBOX_API_TOKEN=<placeholder>


# GITLAB Configuration
# ------------------------------------------------------------------------------
GITLAB_GROUP_ID=<placeholder>
GITLAB_GROUP_NAME=<placeholder>
GITLAB_HOST_URL=localhost:9080
GITLAB_TOKEN=<placeholder>
