# Files
# ls -al | grep '^-r' | awk '{print $9}'
.DS_Store
.editorconfig
.env
.gitattributes
.gitignore
LICENSE
Makefile
Procfile
*.md
*.yml
*.yaml
*.toml
!pyproject.toml

# Directories
# ls -al | grep '^d' | awk '{print $9}'
.envs
.git
.github
.ipython
.pytest_cache
.ruff_cache
.venv
.vscode
.workdir
docs
fixtures
