exclude: "^bin/|^docs/|/migrations/|devcontainer.json|.*.html|.*.css|.*.js|.*.svg|.*.dist"

default_language_version:
  python: python3.14

# ========================================================================= #
#                                 FORMATING                                 #
# ========================================================================= #

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^speleodb/api/v1/tests/artifacts/
      - id: end-of-file-fixer
        exclude: ^speleodb/api/v1/tests/artifacts/
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: detect-private-key

  # Run the Ruff linter.
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      # Linter
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^speleodb/api/v1/tests/artifacts/
      # Formatter
      - id: ruff-format
        exclude: ^speleodb/api/v1/tests/artifacts/

  - repo: https://github.com/Riverside-Healthcare/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
      - id: djlint-django

  - repo: https://github.com/PyCQA/autoflake
    rev: v2.3.1 # check for the latest version
    hooks:
      - id: autoflake
        args:
          [
            "--in-place",
            "--remove-all-unused-imports",
            "--remove-unused-variables",
            "--expand-star-imports",
          ]
        additional_dependencies: ["autoflake"]

  # ========================================================================= #
  #                           DEPENDENCY MANAGEMENT                           #
  # ========================================================================= #

  - repo: https://github.com/adamchainz/django-upgrade
    rev: "1.29.1"
    hooks:
      - id: django-upgrade
        args: ["--target-version", "5.2"]

  - repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.10.1
    hooks:
      - id: uv-lock
        args: ["--check"]

  # ========================================================================= #
  #                                 SECURITY                                  #
  # ========================================================================= #

  - repo: https://github.com/pycqa/bandit
    rev: 1.9.3
    hooks:
      - id: bandit
        args: ["-iii", "-ll"]

  - repo: https://github.com/pysentry/pysentry-pre-commit
    rev: v0.4.1
    hooks:
      - id: pysentry
        args:
          [
            "--format=human",
            "--all-extras",
            "--fail-on=medium",
            "--sources=pypa,osv,pypi",
          ]

  # ========================================================================= #
  #                               TYPE CHECKING                               #
  # ========================================================================= #

  # Use a Local Workflow to ensure that `mypy` picks up all the local up-to-date dependencies
  - repo: local
    hooks:
      - args: ["run", "--", "--config-file", "pyproject.toml"]
        description: Static type checker for Python
        # https://github.com/pre-commit/mirrors-mypy/blob/main/.pre-commit-hooks.yaml
        entry: dmypy
        id: mypy
        language: system
        name: mypy
        require_serial: true
        types_or: [python, pyi]

  # ========================================================================= #
  #                               URL STABILITY                               #
  # ========================================================================= #

  # Check the URL configuration of the project didn't change and is up to date.
  - repo: local
    hooks:
      - id: check-url-config
        name: Check Django URL config consistency
        entry: |
          bash -c '
            FILE="speleodb/common/tests/url_config.json";
            HASH_BEFORE=$(sha256sum "$FILE" | awk "{print \$1}");
            python manage.py dump_url_config > /dev/null;
            HASH_AFTER=$(sha256sum "$FILE" | awk "{print \$1}");
            if [ "$HASH_BEFORE" != "$HASH_AFTER" ]; then
              echo "❌ URL config changed after running dump_url_config. Please review the changes to \`$FILE\`.";
              exit 1;
            fi;
          '
        language: system
        pass_filenames: false

  # ========================================================================= #
  #                               TAILWIND CSS                                #
  # ========================================================================= #

  - repo: local
    hooks:
      - id: check-css-stability
        name: Check Django Tailwind CSS consistency
        entry: |
          bash -c '
            FILES=(
              "frontend_public/static/css/style.css"
              "frontend_private/static/private/css/style.css"
            )

            hash_files() {
              sha256sum "${FILES[@]}" | sha256sum | awk "{print \$1}"
            }

            HASH_BEFORE=$(hash_files)
            pushd tailwind_css/static_src && npm run pre-commit && popd > /dev/null
            HASH_AFTER=$(hash_files)

            if [ "$HASH_BEFORE" != "$HASH_AFTER" ]; then
              echo "❌ One or more CSS files changed after running \`tailwind build\`:"
              for f in "${FILES[@]}"; do
                echo "  - $f"
              done
              exit 1
            fi
          '
        language: system
        pass_filenames: false

# sets up .pre-commit-ci.yaml to ensure pre-commit dependencies stay up to date
ci:
  autoupdate_schedule: weekly
  skip: []
  submodules: false
