# Documentation: https://docs.railway.com/reference/config-as-code#nixpacks-version
# [build]
# builder = "NIXPACKS"
# # https://github.com/railwayapp/nixpacks/releases/
# nixpacksVersion = "1.39.0"
# nixpacksConfigPath = "./nixpacks.toml"

# [build.nixpacksPlan]
# providers = ["python"]

[build]
builder = "RAILPACK"

[deploy]
runtime = "V2"
numReplicas = 1
startCommand = "gunicorn config.wsgi:application --workers ${GUNICORN_WORKERS} --threads ${GUNICORN_THREADS} --max-requests 128 --preload"
preDeployCommand = "npm ci && npm run build && python /app/manage.py migrate && python /app/manage.py collectstatic --noinput --verbosity=3"
sleepApplication = false
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
