{% extends "pages/user/base.html" %}
{% load static %}

{% load countries %}

{% block right_panel %}
<!-- Panel -->
<div class="grow">

    <!-- Panel body -->
    <div class="p-6">
        <h2 class="text-2xl text-slate-100 font-bold mb-5">Personal Profile</h2>

        <form id="update_user_info_form" autocomplete="off">

            <!-- Full Name -->
            <section>
                <div class="sm:flex sm:items-center space-y-4 sm:space-y-0 sm:space-x-4 mt-5">
                    <div class="w-full">
                        <label class="block text-sm font-medium mb-1" for="name">Full Name:</label>
                        <input id="name" name="name" class="form-input max-w-full w-128" type="text" value="{{ user.name }}" />
                    </div>
                </div>
            </section>

            <!-- Email -->
            <section>
                <div class="flex flex-wrap mt-5">
                    <div class="mr-2">
                        <label class="block text-sm font-medium mb-1" for="email">Email:</label>
                        <input id="email" name="email" class="form-input max-w-full w-128" type="email" value="{{ user.email }}" />
                    </div>
                </div>
            </section>

            <!-- Country -->
            <section>
                <div class="flex flex-wrap mt-5">
                    <div class="mr-2">
                        <label class="block text-sm font-medium mb-1" for="country">Country:</label>
                        <select id="country" name="country" class="form-select max-w-full w-128">
                        {% get_countries as countries %}
                        {% for country in countries %}
                            <option value="{{ country.code }}" {% if country.code == user.country %} selected {% endif %}>{{ country.name }}</option>
                        {% endfor %}
                        </select>
                    </div>
                </div>
            </section>

            <div class="flex flex-col px-6 py-5 border-t border-slate-200 border-slate-700 mt-8">
                <div class="flex self-end">
                    {% csrf_token %}
                    <button id="btn_submit" class="btn bg-indigo-500 hover:bg-indigo-600 text-white ml-3">Save Changes</button>
                </div>
            </div>

        </form>

    </div>

    {% include 'snippets/modal_success.html' %}
    {% include 'snippets/modal_error.html' %}

</div>
{% endblock right_panel %}


{% block inline_extra_js %}
<script>

    $(window).on('load', function() {

        $("body").click(function() {
            if ($("#modal_success").is(":visible")) {
                $("#modal_success").hide();
            }
            if ($("#modal_error").is(":visible")) {
                $("#modal_error").hide();
            }
        });

        $('#btn_submit').click(function () {
            var csrftoken = $('input[name^=csrfmiddlewaretoken]').val();
            let update_user_info_form = document.getElementById('update_user_info_form');
            var formData = new FormData(update_user_info_form);

            $("#error_div").hide();
            $("#success_div").hide();

            $.ajax({
                url: "{% url 'api:v1:user_info' %}",
                method: "PATCH",
                data: JSON.stringify(Object.fromEntries(formData)),
                contentType: "application/json; charset=utf-8",
                cache: false,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    return true;

                },
                success: function (data) {
                    $("#modal_success_txt").html(
                        "Success your information has been updated.<br>" +
                        "If you modified your email address, please check your emails."
                    );
                    $("#modal_success").css('display', 'flex');
                },
                error: function (data) {
                    {% include 'snippets/ajax_error_modal_management.js' %}
                }
            });
            return false; // prevent default
        });

    });
</script>
{% endblock inline_extra_js %}
