{% extends "base_private.html" %}
{% load static %}

{% load countries %}

{% block content %}
<!-- Welcome banner -->
<main class="grow">
    <div class="px-4 sm:px-6 lg:px-8 py-8 w-full max-w-9xl mx-auto -mt-8">

        <!-- Page header -->
        <div class="mb-8">

            <!-- Title -->
            <h1 class="text-2xl md:text-3xl text-slate-100 font-bold">Online Tools - Helping you on the daily in simple and effective ways.</h1>

        </div>

        <div class="bg-slate-800 shadow-lg rounded-sm mb-8">
            <div class="flex flex-col md:flex-row md:-mr-px">

                <!-- Sidebar -->
                <div class="flex flex-nowrap overflow-x-scroll no-scrollbar md:block md:overflow-auto px-3 py-6 border-b md:border-b-0 md:border-r border-slate-200 border-slate-700 min-w-60 md:space-y-3">
                    <!-- Group 1 -->
                    <div>
                        <div class="text-xs font-semibold text-slate-400 uppercase mb-2">Ariane Tools</div>
                        <ul class="flex flex-nowrap md:block mr-3 md:mr-0">
                            <!-- Excel to Ariane DMP -->
                            <li class="mr-0.5 md:mr-0 md:mb-0.5">
                                <a class="flex items-center px-2.5 py-2 rounded whitespace-nowrap {% if request.url_name == 'tool-xls2dmp' %}bg-indigo-500/30{% endif %}" 
                                   href="{% url 'private:tool-xls2dmp' %}">
                                    {% if request.url_name == 'tool-xls2dmp' %}
                                        <svg class="w-4 h-4 mr-2 shrink-0 stroke-current fill-none stroke-width-2 text-indigo-400" viewBox="3.45 3.5 17.05 17.05">
                                    {% else %}
                                        <svg class="w-4 h-4 mr-2 shrink-0 stroke-current fill-none stroke-width-2 text-slate-500" viewBox="3.45 3.5 17.05 17.05">
                                    {% endif %}
                                            <path d="M4 13a8 8 0 0 1 7 7a6 6 0 0 0 3 -5a9 9 0 0 0 6 -8a3 3 0 0 0 -3 -3a9 9 0 0 0 -8 6a6 6 0 0 0 -5 3"></path>
                                            <path d="M7 14a6 6 0 0 0 -3 6a6 6 0 0 0 6 -3"></path>
                                            <path d="M15 9m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                        </svg>
                                    {% if request.url_name == 'tool-xls2dmp' %}
                                        <span class="text-sm font-medium text-indigo-400">
                                    {% else %}
                                        <span class="text-sm font-medium text-slate-300 hover:text-slate-200">
                                    {% endif %}
                                        Excel to Ariane DMP
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- Group 2 -->
                    <div>
                        <div class="text-xs font-semibold text-slate-400 uppercase mb-2">Compass Tools</div>
                        <ul class="flex flex-nowrap md:block mr-3 md:mr-0">
                            <!-- Excel to Compass -->
                            <li class="mr-0.5 md:mr-0 md:mb-0.5">
                                <a class="flex items-center px-2.5 py-2 rounded whitespace-nowrap {% if request.url_name == 'tool-xls2compass' %}bg-indigo-500/30{% endif %}" 
                                   href="{% url 'private:tool-xls2compass' %}">
                                    {% if request.url_name == 'tool-xls2compass' %}
                                        <svg class="w-4 h-4 mr-2 shrink-0 stroke-current fill-none stroke-width-2 text-indigo-400" viewBox="3.45 3.5 17.05 17.05">
                                    {% else %}
                                        <svg class="w-4 h-4 mr-2 shrink-0 stroke-current fill-none stroke-width-2 text-slate-500" viewBox="3.45 3.5 17.05 17.05">
                                    {% endif %}
                                            <path d="M4 13a8 8 0 0 1 7 7a6 6 0 0 0 3 -5a9 9 0 0 0 6 -8a3 3 0 0 0 -3 -3a9 9 0 0 0 -8 6a6 6 0 0 0 -5 3"></path>
                                            <path d="M7 14a6 6 0 0 0 -3 6a6 6 0 0 0 6 -3"></path>
                                            <path d="M15 9m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                        </svg>
                                    {% if request.url_name == 'tool-xls2compass' %}
                                        <span class="text-sm font-medium text-indigo-400">
                                    {% else %}
                                        <span class="text-sm font-medium text-slate-300 hover:text-slate-200">
                                    {% endif %}
                                        Excel to Compass
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- Group 3 -->
                    <div>
                        <div class="text-xs font-semibold text-slate-400 uppercase mb-2">Mnemo Tools</div>
                        <ul class="flex flex-nowrap md:block mr-3 md:mr-0">
                            <!-- Mnemo DMP to JSON -->
                            <li class="mr-0.5 md:mr-0 md:mb-0.5">
                                <a class="flex items-center px-2.5 py-2 rounded whitespace-nowrap {% if request.url_name == 'tool-dmp2json' %}bg-indigo-500/30{% endif %}" 
                                   href="{% url 'private:tool-dmp2json' %}">
                                    {% if request.url_name == 'tool-dmp2json' %}
                                        <svg class="w-4 h-4 mr-2 shrink-0 stroke-current fill-none stroke-width-2 text-indigo-400" viewBox="3.45 3.5 17.05 17.05">
                                    {% else %}
                                        <svg class="w-4 h-4 mr-2 shrink-0 stroke-current fill-none stroke-width-2 text-slate-500" viewBox="3.45 3.5 17.05 17.05">
                                    {% endif %}
                                            <path d="M4 13a8 8 0 0 1 7 7a6 6 0 0 0 3 -5a9 9 0 0 0 6 -8a3 3 0 0 0 -3 -3a9 9 0 0 0 -8 6a6 6 0 0 0 -5 3"></path>
                                            <path d="M7 14a6 6 0 0 0 -3 6a6 6 0 0 0 6 -3"></path>
                                            <path d="M15 9m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                        </svg>
                                    {% if request.url_name == 'tool-dmp2json' %}
                                        <span class="text-sm font-medium text-indigo-400">
                                    {% else %}
                                        <span class="text-sm font-medium text-slate-300 hover:text-slate-200">
                                    {% endif %}
                                        Mnemo DMP to JSON
                                    </span>
                                </a>
                            </li>
                            <!-- Mnemo DMP Doctor -->
                            <li class="mr-0.5 md:mr-0 md:mb-0.5">
                                <a class="flex items-center px-2.5 py-2 rounded whitespace-nowrap {% if request.url_name == 'tool-dmp-doctor' %}bg-indigo-500/30{% endif %}" 
                                   href="{% url 'private:tool-dmp-doctor' %}">
                                    {% if request.url_name == 'tool-dmp-doctor' %}
                                        <svg class="w-4 h-4 mr-2 shrink-0 stroke-current fill-none stroke-width-2 text-indigo-400" viewBox="2.5 2.5 20 19">
                                    {% else %}
                                        <svg class="w-4 h-4 mr-2 shrink-0 stroke-current fill-none stroke-width-2 text-slate-500" viewBox="2.5 2.5 20 19">
                                    {% endif %}
                                            <path d="M6 4h-1a2 2 0 0 0 -2 2v3.5h0a5.5 5.5 0 0 0 11 0v-3.5a2 2 0 0 0 -2 -2h-1"></path>
                                            <path d="M8 15a6 6 0 1 0 12 0v-3"></path>
                                            <path d="M11 3v2"></path>
                                            <path d="M6 3v2"></path>
                                            <path d="M20 10m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                                          </svg>
                                    {% if request.url_name == 'tool-dmp-doctor' %}
                                        <span class="text-sm font-medium text-indigo-400">
                                    {% else %}
                                        <span class="text-sm font-medium text-slate-300 hover:text-slate-200">
                                    {% endif %}
                                        Mnemo DMP Doctor
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                {% block right_panel %}
                {% endblock right_panel %}

            </div>
        </div>

    </div>
</main>
{% endblock content %}
