{% extends "auth_base.html" %}
{% load static i18n compress%}

{% load countries %}

{% block head_title %}
  Signup
{% endblock head_title %}

{% block page_headline %}
  Create a new account
{% endblock page_headline %}

{% block user_form %}

<div class="error_msg text-sm text-slate-300 font-medium " id="error_div"></div>
<div class="success_msg text-sm text-slate-300 font-medium " id="success_div"></div>

<form method="post" id="signup_form">
  {% csrf_token %}
  <div class="space-y-4">

      <div>
          <label class="block text-sm text-slate-300 font-medium mb-1" for="name">Full Name <span class="text-rose-500">*</span></label>
          <input id="name" name="name" class="form-input w-full" type="text" placeholder="Sheck Exley" required />
      </div>

      <div>
          <label class="block text-sm text-slate-300 font-medium mb-1" for="email">Email <span class="text-rose-500">*</span></label>
          <input id="email" name="email" class="form-input w-full" type="email" placeholder="sheck@exley.com" required />
      </div>

      <div>
          <label class="block text-sm text-slate-300 font-medium mb-1" for="country">Country <span class="text-rose-500">*</span></label>

            <select class="form-input w-full" name="country" id="country" required>
                <option disabled selected value> -- select an option -- </option>
                {% get_countries as countries %}
                {% for country in countries %}
                    <option value="{{ country.code }}">{{ country.name }}</option>
                {% endfor %}
          </select>
      </div>

      <div>
          <label class="block text-sm text-slate-300 font-medium mb-1" for="password">Password <span class="text-rose-500">*</span></label>
          <input id="password" name="password" class="form-input w-full" placeholder="Password" type="password" autocomplete="on" required />
          <div class="form-text md:col-span-12 text-sm text-slate-300 font-medium form_helptext pt-4">
            <u>Password Rules:</u>
            <ul>
              <li>[*] It can't be similar to your other information.</li>
              <li>[*] It must contain at least 8 characters.</li>
              <li>[*] It can't be a commonly used password.</li>
              <li>[*] It can't be entirely numeric.</li>
            </ul>
          </div>
      </div>

      <div>
          <label class="block text-sm text-slate-300 font-medium mb-1" for="password2">Password (again)<span class="text-rose-500">*</span></label>
          <input id="password2" name="password2" class="form-input w-full" placeholder="Password (again)" type="password" autocomplete="on" required />
      </div>

  </div>
  <div class="mt-6">
      <button class="btn text-sm text-white bg-purple-500 hover:bg-purple-600 w-full shadow-sm group" type="submit" id="btn_submit">
          Sign Up <span class="tracking-normal text-purple-300 group-hover:translate-x-0.5 transition-transform duration-150 ease-in-out ml-1">-&gt;</span>
      </button>
  </div>
</form>

<div class="text-center mt-4">
  <div class="text-sm text-slate-400">
      Already have an account? <a class="font-medium text-purple-500 hover:text-purple-400 transition duration-150 ease-in-out" href="{% url 'account_login' %}">Sign in</a>
  </div>
</div>

{% endblock user_form %}


{% block extra_js %}
<script>
    $(document).ready(function () {

        function validateEmail(email) {
            var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        }

        $('#btn_submit').click(function () {
            var csrftoken = $('input[name^=csrfmiddlewaretoken]').val();
            let signup_form = document.getElementById('signup_form');
            var formData = new FormData(signup_form);

            $("#error_div").hide();
            $("#success_div").hide();

            $.ajax({
                url: "{% url 'headless:browser:account:signup' %}",
                method: "POST",
                data: JSON.stringify(Object.fromEntries(formData)),
                contentType: "application/json; charset=utf-8",
                cache: false,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);

                    if ($("#name").val() == ""){
                        $("#error_div").text("The `name` field is empty !");
                        $("#error_div").show();
                        return false;
                    }

                    if (!validateEmail($("#email").val()) || $("#email").val() == "") {
                        $("#error_div").text("The Email Address is not valid !");
                        $("#error_div").show();
                        return false;
                    }

                    if ($("#password").val() == "" || $("#password2").val() == ""){
                        $("#error_div").text("One of the `password` fields is empty !");
                        $("#error_div").show();
                        return false;
                    }

                    if ($("#password").val() != $("#password2").val()){
                        $("#error_div").text("Password fields do not match !");
                        $("#error_div").show();
                        return false;
                    }

                    return true;

                },
                success: function (data) {
                    console.log(data);
                    $("#success_div").text("Success you can now Log In!");
                    $("#success_div").show();
                },
                error: function (data) {
                  if (data.status == 401) {
                    $("#success_div").text("Success! Please check your email !");
                    $("#success_div").show();
                  }
                  else {
                    try {
                        $("#error_div").text(data.responseJSON["errors"][0]["message"]);
                    } catch (TypeError) {
                        $("#error_div").text("There has been an error ...");
                    }
                    $("#error_div").show();
                  }
                }
            });
            return false; // prevent default
        });

    });
</script>
{% endblock extra_js %}