
{% load static i18n compress%}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <title>SpeleoDB | {% block title %}ERROR{% endblock title %}</title>
        <link type="text/css" rel="stylesheet" href="{% static 'css/error.css' %}" />
        <link rel="icon" type="image/x-icon" href="{% static 'media/tsParticles-64.png' %}" />
    </head>
    <body class="permission_denied">
        <div id="tsparticles"></div>
        <h1>{% block error_code %}{% endblock error_code %}</h1>
        <div class="denied__wrapper">
            <h3>LOST IN <span>SPACE</span> SpeleoDB?</h3>
            {% block content %}{% endblock content %}
            <img id="astronaut" src="{% static 'media/astronaut.svg' %}" />
            <img id="planet" src="{% static 'media/planet.svg' %}" />
            {% comment %} <a href="{% url 'home' %}"><button class="denied__link">Go Home</button></a> {% endcomment %}
        </div>
        <script
            type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/tsparticles@2/tsparticles.bundle.min.js"
            ></script>
        <script type="text/javascript" src="{% static 'js/error.js' %}"></script>
    </body>
</html>
