{% extends "base.html" %}
{% load static %}

{% block title %}
  {% block head_title %}
  {% endblock head_title %}
{% endblock title %}

{% block content %}
<section>
  <div class="relative max-w-12xl mx-auto px-4 sm:px-6">

    <!-- Particles animation -->
    <div class="absolute inset-0 -z-10" aria-hidden="true">
        <canvas data-particle-animation></canvas>
    </div>

    <div class="pt-32 pb-16 md:pt-32 md:pb-32">
      {% block inner %}{% endblock inner %}
    </div>
  </div>
</section>
{% endblock content %}
