{% extends "pages/team/base.html" %}
{% load static %}

{% block right_panel %}
<div class="grow">

    <!-- Panel body -->
    <div class="p-6 space-y-6">
        <h2 class="text-2xl text-slate-100 font-bold mb-16">Team Danger Zone</h2>

        {% csrf_token %}

        <!-- Team Name -->
        <section>
            <div class="sm:flex sm:items-center space-y-4 sm:space-y-0 sm:space-x-4 mt-5">
                <div class="w-full border border-rose-600/50 bg-rose-900/10 p-6 rounded-lg">
                    <h1 class="mb-2 underline font-heavy">Delete this team ?</h1>
                    <span class="block text-sm font-medium mb-1" for="name">
                        Once you delete a team, there is no going back. Please be <b><u>absolutely</u></b> certain.
                    </span>
                    <button id="btn_delete" class="btn bg-rose-500 hover:bg-rose-600 text-white mt-4">Delete Team </button>
                </div>
            </div>
        </section>

    </div>

</div>

{% include 'snippets/modal_success.html' %}
{% include 'snippets/modal_error.html' %}
{% include 'snippets/modal_confirmation_delete.html' %}

{% endblock right_panel %}

{% block inline_extra_js %}
<script src="{% static 'private/js/forms/modals.js' %}"></script>
<script src="{% static 'private/js/forms/ajax_errors.js' %}"></script>
<script src="{% static 'private/js/forms/danger_zone.js' %}"></script>
<script>
    $(window).on('load', function () {
        attachDangerZone({
            deleteUrl: "{% url 'api:v2:team-detail' id=team.id %}",
            successMessage: "The team has been deleted successfully.",
            successRedirect: "{% url 'private:teams' %}"
        });
    });
</script>
{% endblock inline_extra_js %}
