# General
# ------------------------------------------------------------------------------
# DJANGO_READ_DOT_ENV_FILE=True
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY="<secret_key>"  # https://djecrety.ir/
DJANGO_ALLOWED_HOSTS="www.speleodb.org"
DJANGO_ADMIN_URL="sudo/"
DJANGO_DEBUG=False
DJANGO_FIELD_ENCRYPTION_KEY="<secret_key>"  # `python manage.py generate_field_encryption_key`

# Security
# ------------------------------------------------------------------------------
# TIP: better off using DNS, however, redirect is OK too
DJANGO_SECURE_SSL_REDIRECT=True

# Email
# ------------------------------------------------------------------------------
DJANGO_SERVER_EMAIL=

# django-allauth
# ------------------------------------------------------------------------------
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True

# Gunicorn
# ------------------------------------------------------------------------------
WEB_CONCURRENCY=4

# Redis
# ------------------------------------------------------------------------------
REDIS_URL=redis://redis:6379/0

# Celery
# ------------------------------------------------------------------------------

# Flower
CELERY_FLOWER_USER="<celery_user>"
CELERY_FLOWER_PASSWORD="<celery_password>"
