{% extends "base.html" %}
{% load static i18n compress%}

{% block content %}

    <!-- Hero -->
    <section class="relative">

        <!-- Radial gradient -->
        <div class="absolute flex items-center justify-center top-0 -translate-y-1/2 left-1/2 -translate-x-1/2 pointer-events-none -z-10 w-[800px] aspect-square" aria-hidden="true">
            <div class="absolute inset-0 translate-z-0 bg-purple-500 rounded-full blur-[120px] opacity-30"></div>
            <div class="absolute w-64 h-64 translate-z-0 bg-purple-400 rounded-full blur-[80px] opacity-70"></div>
        </div>

        <!-- Particles animation -->
        <div class="absolute inset-0 h-96 -z-10" aria-hidden="true">
            <canvas data-particle-animation data-particle-quantity="15"></canvas>
        </div>

        <!-- Illustration -->
        <div class="md:block absolute left-1/2 -translate-x-1/2 -mt-16 blur-2xl opacity-90 pointer-events-none -z-10" aria-hidden="true">
            <img src="{% static 'media/page-illustration.svg' %}" class="max-w-none" width="1440" height="427" alt="Page Illustration">
        </div>

        <div class="max-w-6xl mx-auto px-4 sm:px-6">
            <div class="pt-32 pb-10 md:pt-40">

                <!-- Hero content -->
                <div class="text-center">
                    <div class="inline-flex font-medium text-2xl bg-clip-text text-transparent bg-gradient-to-r from-purple-300 to-purple-50 pb-3">
                        The folks behind the SpeleoDB
                    </div>
                    <h1 class="h1 bg-clip-text text-transparent bg-gradient-to-r from-slate-200/60 via-slate-200 to-slate-200/60 pb-6">
                        Towards a more collaborative future.
                    </h1>
                    <!-- Rings illustration -->
                    <div class="inline-flex items-center justify-center relative">
                        <!-- Particles animation -->
                        <div class="absolute inset-0 -z-10" aria-hidden="true">
                            <canvas data-particle-animation data-particle-quantity="10"></canvas>
                        </div>
                        <div class="inline-flex [mask-image:_radial-gradient(circle_at_bottom,transparent_15%,black_70%)]">
                            <img src="{% static 'media/about-illustration.svg' %}" width="446" height="446" alt="About illustration" />
                        </div>
                        <img class="absolute mt-[30%] drop-shadow-lg animate-float" src="{% static 'media/placeholders/about-icon.svg' %}" width="72" height="72" alt="About icon" />
                    </div>
                </div>

            </div>
        </div>

    </section>

    <!-- Story -->
    <section class="relative">

        <!-- Blurred shape -->
        <div class="absolute top-0 -mt-32 left-1/2 -translate-x-1/2 ml-10 blur-2xl opacity-70 pointer-events-none -z-10" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" width="434" height="427">
                <defs>
                    <linearGradient id="bs4-a" x1="19.609%" x2="50%" y1="14.544%" y2="100%">
                        <stop offset="0%" stop-color="#A855F7"></stop>
                        <stop offset="100%" stop-color="#6366F1" stop-opacity="0"></stop>
                    </linearGradient>
                </defs>
                <path fill="url(#bs4-a)" fill-rule="evenodd" d="m0 0 461 369-284 58z" transform="matrix(1 0 0 -1 0 427)" />
            </svg>
        </div>

        <div class="px-4 sm:px-6">
            <div class="max-w-5xl mx-auto">
                <div class="pb-12 md:pb-20">

                    <!-- Section header -->
                    <div class="max-w-3xl mx-auto text-center pb-12 md:pb-20">
                        <h2 class="h2 bg-clip-text text-transparent bg-gradient-to-r from-slate-200/60 via-slate-200 to-slate-200/60">Our story (so far)</h2>
                    </div>

                    <div class="md:flex justify-between space-x-6 md:space-x-8 lg:space-x-14">
                        <figure class="min-w-[240px]">
                            <img class="sticky top-8 mx-auto mb-12 md:mb-0 rounded-lg -rotate-[4deg]" src="{% static 'media/hoyo_negro_survey.jpg' %}" width="420" height="280" alt="Team" />
                        </figure>
                        <div class="max-w-[548px] mx-auto">
                            <div class="text-slate-200 space-y-6 text-justify">
                                <p>
                                    We came together over a shared excitement about building a product that could solve a problem dear to our hearts. But also a product that helps teams of cave explorers and surveyors to map the underground world.
                                </p>
                                <p>
                                    The Underwater Speleological and Archaeological Heritage Institute (USAH Institute) was founded with a mission to enhance collaboration and innovation in the field of cave survey and data collection. Recognizing the challenges faced with the tools (often outdated) used by our community, proprietary file formats, and a lack of collaborative platforms—we set out to create a solution that addresses these issues while respecting the deep-seated concerns about data privacy and ownership.
                                </p>
                                <p>
                                    Our journey began with the realization that the cave survey community needed a modern, open-source platform that prioritizes data integrity and collaboration. Inspired by proven solutions in other fields, such as GIT for version control and open-source governance, we envisioned a platform that would empower users to take full control of their data. Thus, SpeleoDB was born.
                                </p>
                                <p>
                                    From the outset, our goal was to build a platform that is not only technologically advanced but also transparent and inclusive. SpeleoDB leverages open file format standards to ensure compatibility across different software, and our open-source code invites scrutiny and contributions from the community. We believe that a collaborative approach is essential for the platform's continuous improvement and alignment with the community's needs.
                                </p>
                                <p>
                                    As we move forward, we remain committed to a decentralized future. With the development of the SpeleoPUB protocol, we aim to enable users to run their own servers, fostering a truly distributed network that enhances both collaboration and data security. Our technical steering committee, comprising members from various backgrounds within the cave survey community, ensures that the evolution of SpeleoDB is guided by collective wisdom and shared goals.
                                </p>
                                <p>
                                    At SpeleoDB, we are driven by our dedication to innovation, transparency, and community. Our story is one of collaboration and progress, as we work together to transform the landscape of cave survey and data collection for the good of the cave diving communities.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    {% comment %} <!-- Team -->
    <section class="relative">
        <!-- Radial gradient -->
        <div class="absolute inset-0 overflow-hidden pointer-events-none -z-10" aria-hidden="true">
            <div class="absolute flex items-center justify-center top-0 -translate-y-1/2 left-1/2 -translate-x-1/2 w-1/3 aspect-square">
                <div class="absolute inset-0 translate-z-0 bg-purple-500 rounded-full blur-[120px] opacity-50"></div>
            </div>
        </div>
        <div class="max-w-6xl mx-auto px-4 sm:px-6">
            <div class="py-12 md:py-20">
                <!-- Content -->
                <div class="max-w-3xl mx-auto text-center pb-12 md:pb-20">
                    <h2 class="h2 bg-clip-text text-transparent bg-gradient-to-r from-slate-200/60 via-slate-200 to-slate-200/60 pb-4">We are a happy, small team</h2>
                    <p class="text-lg text-slate-400">Various versions of Lorem Ipsum have evolved over the years, sometimes by accident, sometimes on purpose, and by injecting humour and the like.</p>
                </div>
                <!-- Team members -->
                <div class="grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-2 sm:gap-6">
                    <!-- Member #01 -->
                    <div class="relative flex items-center justify-between py-4 pl-4 pr-3 group before:absolute before:inset-0 before:-z-10 before:border before:border-slate-300 before:bg-slate-700 before:opacity-0 hover:before:opacity-10 focus-within:before:opacity-10 before:rounded-xl before:transition-opacity">
                        <div class="flex items-center space-x-4">
                            <img class="shrink-0" src="{% static 'media/placeholders/team-01.png' %}" width="48" height="48" alt="Team 01" />
                            <div class="grow">
                                <div class="font-bold text-slate-100 mb-0.5">Sarah Barnekow</div>
                                <div class="text-sm text-purple-500 font-medium">CEO & Co-founder</div>
                            </div>
                        </div>
                        <a class="shrink-0 text-slate-500 md:opacity-0 group-hover:opacity-100 focus-within:opacity-100 transition-opacity focus:outline-none group-hover:before:absolute group-hover:before:inset-0" href="#0" aria-label="Member's Twitter">
                            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                                <path d="M11.297 13.807 7.424 18H5.276l5.019-5.436L5 6h4.43l3.06 3.836L16.025 6h2.147l-4.688 5.084L19 18h-4.32l-3.383-4.193Zm3.975 2.975h1.19L8.783 7.155H7.507l7.766 9.627Z" />
                            </svg>
                        </a>
                    </div>
                    <!-- Member #02 -->
                    <div class="relative flex items-center justify-between py-4 pl-4 pr-3 group before:absolute before:inset-0 before:-z-10 before:border before:border-slate-300 before:bg-slate-700 before:opacity-0 hover:before:opacity-10 focus-within:before:opacity-10 before:rounded-xl before:transition-opacity">
                        <div class="flex items-center space-x-4">
                            <img class="shrink-0" src="{% static 'media/placeholders/team-02.png' %}" width="48" height="48" alt="Team 02" />
                            <div class="grow">
                                <div class="font-bold text-slate-100 mb-0.5">Alex Suevalov</div>
                                <div class="text-sm text-purple-500 font-medium">Tech Lead</div>
                            </div>
                        </div>
                        <a class="shrink-0 text-slate-500 md:opacity-0 group-hover:opacity-100 focus-within:opacity-100 transition-opacity focus:outline-none group-hover:before:absolute group-hover:before:inset-0" href="#0" aria-label="Member's Twitter">
                            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                                <path d="M11.297 13.807 7.424 18H5.276l5.019-5.436L5 6h4.43l3.06 3.836L16.025 6h2.147l-4.688 5.084L19 18h-4.32l-3.383-4.193Zm3.975 2.975h1.19L8.783 7.155H7.507l7.766 9.627Z" />
                            </svg>
                        </a>
                    </div>
                    <!-- Member #03 -->
                    <div class="relative flex items-center justify-between py-4 pl-4 pr-3 group before:absolute before:inset-0 before:-z-10 before:border before:border-slate-300 before:bg-slate-700 before:opacity-0 hover:before:opacity-10 focus-within:before:opacity-10 before:rounded-xl before:transition-opacity">
                        <div class="flex items-center space-x-4">
                            <img class="shrink-0" src="{% static 'media/placeholders/team-03.png' %}" width="48" height="48" alt="Team 03" />
                            <div class="grow">
                                <div class="font-bold text-slate-100 mb-0.5">Mark Lamprecht</div>
                                <div class="text-sm text-purple-500 font-medium">Software Engineer</div>
                            </div>
                        </div>
                        <a class="shrink-0 text-slate-500 md:opacity-0 group-hover:opacity-100 focus-within:opacity-100 transition-opacity focus:outline-none group-hover:before:absolute group-hover:before:inset-0" href="#0" aria-label="Member's Twitter">
                            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                                <path d="M11.297 13.807 7.424 18H5.276l5.019-5.436L5 6h4.43l3.06 3.836L16.025 6h2.147l-4.688 5.084L19 18h-4.32l-3.383-4.193Zm3.975 2.975h1.19L8.783 7.155H7.507l7.766 9.627Z" />
                            </svg>
                        </a>
                    </div>
                    <!-- Member #04 -->
                    <div class="relative flex items-center justify-between py-4 pl-4 pr-3 group before:absolute before:inset-0 before:-z-10 before:border before:border-slate-300 before:bg-slate-700 before:opacity-0 hover:before:opacity-10 focus-within:before:opacity-10 before:rounded-xl before:transition-opacity">
                        <div class="flex items-center space-x-4">
                            <img class="shrink-0" src="{% static 'media/placeholders/team-04.png' %}" width="48" height="48" alt="Team 04" />
                            <div class="grow">
                                <div class="font-bold text-slate-100 mb-0.5">Scott Bailey</div>
                                <div class="text-sm text-purple-500 font-medium">Software Engineer</div>
                            </div>
                        </div>
                        <a class="shrink-0 text-slate-500 md:opacity-0 group-hover:opacity-100 focus-within:opacity-100 transition-opacity focus:outline-none group-hover:before:absolute group-hover:before:inset-0" href="#0" aria-label="Member's Twitter">
                            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                                <path d="M11.297 13.807 7.424 18H5.276l5.019-5.436L5 6h4.43l3.06 3.836L16.025 6h2.147l-4.688 5.084L19 18h-4.32l-3.383-4.193Zm3.975 2.975h1.19L8.783 7.155H7.507l7.766 9.627Z" />
                            </svg>
                        </a>
                    </div>
                    <!-- Member #05 -->
                    <div class="relative flex items-center justify-between py-4 pl-4 pr-3 group before:absolute before:inset-0 before:-z-10 before:border before:border-slate-300 before:bg-slate-700 before:opacity-0 hover:before:opacity-10 focus-within:before:opacity-10 before:rounded-xl before:transition-opacity">
                        <div class="flex items-center space-x-4">
                            <img class="shrink-0" src="{% static 'media/placeholders/team-05.png' %}" width="48" height="48" alt="Team 05" />
                            <div class="grow">
                                <div class="font-bold text-slate-100 mb-0.5">Vedant Hegde</div>
                                <div class="text-sm text-purple-500 font-medium">Customer Experience</div>
                            </div>
                        </div>
                        <a class="shrink-0 text-slate-500 md:opacity-0 group-hover:opacity-100 focus-within:opacity-100 transition-opacity focus:outline-none group-hover:before:absolute group-hover:before:inset-0" href="#0" aria-label="Member's Twitter">
                            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                                <path d="M11.297 13.807 7.424 18H5.276l5.019-5.436L5 6h4.43l3.06 3.836L16.025 6h2.147l-4.688 5.084L19 18h-4.32l-3.383-4.193Zm3.975 2.975h1.19L8.783 7.155H7.507l7.766 9.627Z" />
                            </svg>
                        </a>
                    </div>
                    <!-- Member #06 -->
                    <div class="relative flex items-center justify-between py-4 pl-4 pr-3 group before:absolute before:inset-0 before:-z-10 before:border before:border-slate-300 before:bg-slate-700 before:opacity-0 hover:before:opacity-10 focus-within:before:opacity-10 before:rounded-xl before:transition-opacity">
                        <div class="flex items-center space-x-4">
                            <img class="shrink-0" src="{% static 'media/placeholders/team-06.png' %}" width="48" height="48" alt="Team 06" />
                            <div class="grow">
                                <div class="font-bold text-slate-100 mb-0.5">Lucy Radux</div>
                                <div class="text-sm text-purple-500 font-medium">Marketing Manager</div>
                            </div>
                        </div>
                        <a class="shrink-0 text-slate-500 md:opacity-0 group-hover:opacity-100 focus-within:opacity-100 transition-opacity focus:outline-none group-hover:before:absolute group-hover:before:inset-0" href="#0" aria-label="Member's Twitter">
                            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                                <path d="M11.297 13.807 7.424 18H5.276l5.019-5.436L5 6h4.43l3.06 3.836L16.025 6h2.147l-4.688 5.084L19 18h-4.32l-3.383-4.193Zm3.975 2.975h1.19L8.783 7.155H7.507l7.766 9.627Z" />
                            </svg>
                        </a>
                    </div>
                    <!-- Member #07 -->
                    <div class="relative flex items-center justify-between py-4 pl-4 pr-3 group before:absolute before:inset-0 before:-z-10 before:border before:border-slate-300 before:bg-slate-700 before:opacity-0 hover:before:opacity-10 focus-within:before:opacity-10 before:rounded-xl before:transition-opacity">
                        <div class="flex items-center space-x-4">
                            <img class="shrink-0" src="{% static 'media/placeholders/team-07.png' %}" width="48" height="48" alt="Team 07" />
                            <div class="grow">
                                <div class="font-bold text-slate-100 mb-0.5">Devani Janssen</div>
                                <div class="text-sm text-purple-500 font-medium">Product Design</div>
                            </div>
                        </div>
                        <a class="shrink-0 text-slate-500 md:opacity-0 group-hover:opacity-100 focus-within:opacity-100 transition-opacity focus:outline-none group-hover:before:absolute group-hover:before:inset-0" href="#0" aria-label="Member's Twitter">
                            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                                <path d="M11.297 13.807 7.424 18H5.276l5.019-5.436L5 6h4.43l3.06 3.836L16.025 6h2.147l-4.688 5.084L19 18h-4.32l-3.383-4.193Zm3.975 2.975h1.19L8.783 7.155H7.507l7.766 9.627Z" />
                            </svg>
                        </a>
                    </div>
                    <!-- Member #08 -->
                    <div class="relative flex items-center justify-between py-4 pl-4 pr-3 group before:absolute before:inset-0 before:-z-10 before:border before:border-slate-300 before:bg-slate-700 before:opacity-0 hover:before:opacity-10 focus-within:before:opacity-10 before:rounded-xl before:transition-opacity">
                        <div class="flex items-center space-x-4">
                            <img class="shrink-0" src="{% static 'media/placeholders/team-08.png' %}" width="48" height="48" alt="Team 08" />
                            <div class="grow">
                                <div class="font-bold text-slate-100 mb-0.5">Dima Trystram</div>
                                <div class="text-sm text-purple-500 font-medium">Customer Success</div>
                            </div>
                        </div>
                        <a class="shrink-0 text-slate-500 md:opacity-0 group-hover:opacity-100 focus-within:opacity-100 transition-opacity focus:outline-none group-hover:before:absolute group-hover:before:inset-0" href="#0" aria-label="Member's Twitter">
                            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                                <path d="M11.297 13.807 7.424 18H5.276l5.019-5.436L5 6h4.43l3.06 3.836L16.025 6h2.147l-4.688 5.084L19 18h-4.32l-3.383-4.193Zm3.975 2.975h1.19L8.783 7.155H7.507l7.766 9.627Z" />
                            </svg>
                        </a>
                    </div>
                    <!-- Member #09 -->
                    <div class="relative flex items-center justify-between py-4 pl-4 pr-3 group before:absolute before:inset-0 before:-z-10 before:border before:border-slate-300 before:bg-slate-700 before:opacity-0 hover:before:opacity-10 focus-within:before:opacity-10 before:rounded-xl before:transition-opacity">
                        <div class="flex items-center space-x-4">
                            <img class="shrink-0" src="{% static 'media/placeholders/team-09.png' %}" width="48" height="48" alt="Team 09" />
                            <div class="grow">
                                <div class="font-bold text-slate-100 mb-0.5">Fraser Davidson</div>
                                <div class="text-sm text-purple-500 font-medium">Customer Success</div>
                            </div>
                        </div>
                        <a class="shrink-0 text-slate-500 md:opacity-0 group-hover:opacity-100 focus-within:opacity-100 transition-opacity focus:outline-none group-hover:before:absolute group-hover:before:inset-0" href="#0" aria-label="Member's Twitter">
                            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                                <path d="M11.297 13.807 7.424 18H5.276l5.019-5.436L5 6h4.43l3.06 3.836L16.025 6h2.147l-4.688 5.084L19 18h-4.32l-3.383-4.193Zm3.975 2.975h1.19L8.783 7.155H7.507l7.766 9.627Z" />
                            </svg>
                        </a>
                    </div>
                    <!-- Member #10 -->
                    <div class="relative flex items-center justify-between py-4 pl-4 pr-3 group before:absolute before:inset-0 before:-z-10 before:border before:border-slate-300 before:bg-slate-700 before:opacity-0 hover:before:opacity-10 focus-within:before:opacity-10 before:rounded-xl before:transition-opacity">
                        <div class="flex items-center space-x-4">
                            <img class="shrink-0" src="{% static 'media/placeholders/team-10.png' %}" width="48" height="48" alt="Team 10" />
                            <div class="grow">
                                <div class="font-bold text-slate-100 mb-0.5">William Adkins</div>
                                <div class="text-sm text-purple-500 font-medium">Customer Experience</div>
                            </div>
                        </div>
                        <a class="shrink-0 text-slate-500 md:opacity-0 group-hover:opacity-100 focus-within:opacity-100 transition-opacity focus:outline-none group-hover:before:absolute group-hover:before:inset-0" href="#0" aria-label="Member's Twitter">
                            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                                <path d="M11.297 13.807 7.424 18H5.276l5.019-5.436L5 6h4.43l3.06 3.836L16.025 6h2.147l-4.688 5.084L19 18h-4.32l-3.383-4.193Zm3.975 2.975h1.19L8.783 7.155H7.507l7.766 9.627Z" />
                            </svg>
                        </a>
                    </div>
                    <!-- Member #11 -->
                    <div class="relative flex items-center justify-between py-4 pl-4 pr-3 group before:absolute before:inset-0 before:-z-10 before:border before:border-slate-300 before:bg-slate-700 before:opacity-0 hover:before:opacity-10 focus-within:before:opacity-10 before:rounded-xl before:transition-opacity">
                        <div class="flex items-center space-x-4">
                            <img class="shrink-0" src="{% static 'media/placeholders/team-11.png' %}" width="48" height="48" alt="Team 11" />
                            <div class="grow">
                                <div class="font-bold text-slate-100 mb-0.5">Debbie Poulin</div>
                                <div class="text-sm text-purple-500 font-medium">Head of Talent</div>
                            </div>
                        </div>
                        <a class="shrink-0 text-slate-500 md:opacity-0 group-hover:opacity-100 focus-within:opacity-100 transition-opacity focus:outline-none group-hover:before:absolute group-hover:before:inset-0" href="#0" aria-label="Member's Twitter">
                            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                                <path d="M11.297 13.807 7.424 18H5.276l5.019-5.436L5 6h4.43l3.06 3.836L16.025 6h2.147l-4.688 5.084L19 18h-4.32l-3.383-4.193Zm3.975 2.975h1.19L8.783 7.155H7.507l7.766 9.627Z" />
                            </svg>
                        </a>
                    </div>
                    <!-- Member #12 -->
                    <div class="relative flex items-center justify-between py-4 pl-4 pr-3 group before:absolute before:inset-0 before:-z-10 before:border before:border-slate-300 before:bg-slate-700 before:opacity-0 hover:before:opacity-10 focus-within:before:opacity-10 before:rounded-xl before:transition-opacity">
                        <div class="flex items-center space-x-4">
                            <img class="shrink-0" src="{% static 'media/placeholders/team-12.png' %}" width="48" height="48" alt="Team 12" />
                            <div class="grow">
                                <div class="font-bold text-slate-100 mb-0.5">James Kudinov</div>
                                <div class="text-sm text-purple-500 font-medium">Product Design</div>
                            </div>
                        </div>
                        <a class="shrink-0 text-slate-500 md:opacity-0 group-hover:opacity-100 focus-within:opacity-100 transition-opacity focus:outline-none group-hover:before:absolute group-hover:before:inset-0" href="#0" aria-label="Member's Twitter">
                            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                                <path d="M11.297 13.807 7.424 18H5.276l5.019-5.436L5 6h4.43l3.06 3.836L16.025 6h2.147l-4.688 5.084L19 18h-4.32l-3.383-4.193Zm3.975 2.975h1.19L8.783 7.155H7.507l7.766 9.627Z" />
                            </svg>
                        </a>
                    </div>
                    <!-- Member #13 -->
                    <div class="relative flex items-center justify-between py-4 pl-4 pr-3 group before:absolute before:inset-0 before:-z-10 before:border before:border-slate-300 before:bg-slate-700 before:opacity-0 hover:before:opacity-10 focus-within:before:opacity-10 before:rounded-xl before:transition-opacity">
                        <div class="flex items-center space-x-4">
                            <img class="shrink-0" src="{% static 'media/placeholders/team-13.png' %}" width="48" height="48" alt="Team 13" />
                            <div class="grow">
                                <div class="font-bold text-slate-100 mb-0.5">Zhenya Rynzhuk</div>
                                <div class="text-sm text-purple-500 font-medium">Software Engineer</div>
                            </div>
                        </div>
                        <a class="shrink-0 text-slate-500 md:opacity-0 group-hover:opacity-100 focus-within:opacity-100 transition-opacity focus:outline-none group-hover:before:absolute group-hover:before:inset-0" href="#0" aria-label="Member's Twitter">
                            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                                <path d="M11.297 13.807 7.424 18H5.276l5.019-5.436L5 6h4.43l3.06 3.836L16.025 6h2.147l-4.688 5.084L19 18h-4.32l-3.383-4.193Zm3.975 2.975h1.19L8.783 7.155H7.507l7.766 9.627Z" />
                            </svg>
                        </a>
                    </div>
                    <!-- Member #14 -->
                    <div class="relative flex items-center justify-between py-4 pl-4 pr-3 group before:absolute before:inset-0 before:-z-10 before:border before:border-slate-300 before:bg-slate-700 before:opacity-0 hover:before:opacity-10 focus-within:before:opacity-10 before:rounded-xl before:transition-opacity">
                        <div class="flex items-center space-x-4">
                            <img class="shrink-0" src="{% static 'media/placeholders/team-14.png' %}" width="48" height="48" alt="Team 14" />
                            <div class="grow">
                                <div class="font-bold text-slate-100 mb-0.5">Mary Maka</div>
                                <div class="text-sm text-purple-500 font-medium">Enterprise Architect</div>
                            </div>
                        </div>
                        <a class="shrink-0 text-slate-500 md:opacity-0 group-hover:opacity-100 focus-within:opacity-100 transition-opacity focus:outline-none group-hover:before:absolute group-hover:before:inset-0" href="#0" aria-label="Member's Twitter">
                            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                                <path d="M11.297 13.807 7.424 18H5.276l5.019-5.436L5 6h4.43l3.06 3.836L16.025 6h2.147l-4.688 5.084L19 18h-4.32l-3.383-4.193Zm3.975 2.975h1.19L8.783 7.155H7.507l7.766 9.627Z" />
                            </svg>
                        </a>
                    </div>
                    <!-- Member #15 -->
                    <div class="relative flex items-center justify-between py-4 pl-4 pr-3 group before:absolute before:inset-0 before:-z-10 before:border before:border-slate-300 before:bg-slate-700 before:opacity-0 hover:before:opacity-10 focus-within:before:opacity-10 before:rounded-xl before:transition-opacity">
                        <div class="flex items-center space-x-4">
                            <img class="shrink-0" src="{% static 'media/placeholders/team-15.png' %}" width="48" height="48" alt="Team 15" />
                            <div class="grow">
                                <div class="font-bold text-slate-100 mb-0.5">Monty Hayton</div>
                                <div class="text-sm text-purple-500 font-medium">Video Producer</div>
                            </div>
                        </div>
                        <a class="shrink-0 text-slate-500 md:opacity-0 group-hover:opacity-100 focus-within:opacity-100 transition-opacity focus:outline-none group-hover:before:absolute group-hover:before:inset-0" href="#0" aria-label="Member's Twitter">
                            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                                <path d="M11.297 13.807 7.424 18H5.276l5.019-5.436L5 6h4.43l3.06 3.836L16.025 6h2.147l-4.688 5.084L19 18h-4.32l-3.383-4.193Zm3.975 2.975h1.19L8.783 7.155H7.507l7.766 9.627Z" />
                            </svg>
                        </a>
                    </div>
                    <!-- Member #16 -->
                    <div class="relative flex items-center justify-between py-4 pl-4 pr-3 group before:absolute before:inset-0 before:-z-10 before:border before:border-slate-300 before:bg-slate-700 before:opacity-0 hover:before:opacity-10 focus-within:before:opacity-10 before:rounded-xl before:transition-opacity">
                        <div class="flex items-center space-x-4">
                            <img class="shrink-0" src="{% static 'media/placeholders/team-16.png' %}" width="48" height="48" alt="Team 16" />
                            <div class="grow">
                                <div class="font-bold text-slate-100 mb-0.5">Srdjan Vidakovic</div>
                                <div class="text-sm text-purple-500 font-medium">Operations Manager</div>
                            </div>
                        </div>
                        <a class="shrink-0 text-slate-500 md:opacity-0 group-hover:opacity-100 focus-within:opacity-100 transition-opacity focus:outline-none group-hover:before:absolute group-hover:before:inset-0" href="#0" aria-label="Member's Twitter">
                            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                                <path d="M11.297 13.807 7.424 18H5.276l5.019-5.436L5 6h4.43l3.06 3.836L16.025 6h2.147l-4.688 5.084L19 18h-4.32l-3.383-4.193Zm3.975 2.975h1.19L8.783 7.155H7.507l7.766 9.627Z" />
                            </svg>
                        </a>
                    </div>
                    <!-- Member #17 -->
                    <div class="relative flex items-center justify-between py-4 pl-4 pr-3 group before:absolute before:inset-0 before:-z-10 before:border before:border-slate-300 before:bg-slate-700 before:opacity-0 hover:before:opacity-10 focus-within:before:opacity-10 before:rounded-xl before:transition-opacity">
                        <div class="flex items-center space-x-4">
                            <img class="shrink-0" src="{% static 'media/placeholders/team-17.png' %}" width="48" height="48" alt="Team 17" />
                            <div class="grow">
                                <div class="font-bold text-slate-100 mb-0.5">David Cran</div>
                                <div class="text-sm text-purple-500 font-medium">Financial Analyst</div>
                            </div>
                        </div>
                        <a class="shrink-0 text-slate-500 md:opacity-0 group-hover:opacity-100 focus-within:opacity-100 transition-opacity focus:outline-none group-hover:before:absolute group-hover:before:inset-0" href="#0" aria-label="Member's Twitter">
                            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                                <path d="M11.297 13.807 7.424 18H5.276l5.019-5.436L5 6h4.43l3.06 3.836L16.025 6h2.147l-4.688 5.084L19 18h-4.32l-3.383-4.193Zm3.975 2.975h1.19L8.783 7.155H7.507l7.766 9.627Z" />
                            </svg>
                        </a>
                    </div>
                    <!-- Member #18 -->
                    <div class="relative flex items-center justify-between py-4 pl-4 pr-3 group before:absolute before:inset-0 before:-z-10 before:border before:border-slate-300 before:bg-slate-700 before:opacity-0 hover:before:opacity-10 focus-within:before:opacity-10 before:rounded-xl before:transition-opacity">
                        <div class="flex items-center space-x-4">
                            <img class="shrink-0" src="{% static 'media/placeholders/team-18.png' %}" width="48" height="48" alt="Team 18" />
                            <div class="grow">
                                <div class="font-bold text-slate-100 mb-0.5">Jacek Janiczak</div>
                                <div class="text-sm text-purple-500 font-medium">Data Engineer</div>
                            </div>
                        </div>
                        <a class="shrink-0 text-slate-500 md:opacity-0 group-hover:opacity-100 focus-within:opacity-100 transition-opacity focus:outline-none group-hover:before:absolute group-hover:before:inset-0" href="#0" aria-label="Member's Twitter">
                            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                                <path d="M11.297 13.807 7.424 18H5.276l5.019-5.436L5 6h4.43l3.06 3.836L16.025 6h2.147l-4.688 5.084L19 18h-4.32l-3.383-4.193Zm3.975 2.975h1.19L8.783 7.155H7.507l7.766 9.627Z" />
                            </svg>
                        </a>
                    </div>
                    <!-- Member #19 -->
                    <div class="relative flex items-center justify-between py-4 pl-4 pr-3 group before:absolute before:inset-0 before:-z-10 before:border before:border-slate-300 before:bg-slate-700 before:opacity-0 hover:before:opacity-10 focus-within:before:opacity-10 before:rounded-xl before:transition-opacity">
                        <div class="flex items-center space-x-4">
                            <img class="shrink-0" src="{% static 'media/placeholders/team-19.png' %}" width="48" height="48" alt="Team 19" />
                            <div class="grow">
                                <div class="font-bold text-slate-100 mb-0.5">Tommy Chandra</div>
                                <div class="text-sm text-purple-500 font-medium">Head of Design</div>
                            </div>
                        </div>
                        <a class="shrink-0 text-slate-500 md:opacity-0 group-hover:opacity-100 focus-within:opacity-100 transition-opacity focus:outline-none group-hover:before:absolute group-hover:before:inset-0" href="#0" aria-label="Member's Twitter">
                            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                                <path d="M11.297 13.807 7.424 18H5.276l5.019-5.436L5 6h4.43l3.06 3.836L16.025 6h2.147l-4.688 5.084L19 18h-4.32l-3.383-4.193Zm3.975 2.975h1.19L8.783 7.155H7.507l7.766 9.627Z" />
                            </svg>
                        </a>
                    </div>
                    <!-- Member #20 -->
                    <div class="relative flex items-center justify-between py-4 pl-4 pr-3 group before:absolute before:inset-0 before:-z-10 before:border before:border-slate-300 before:bg-slate-700 before:opacity-0 hover:before:opacity-10 focus-within:before:opacity-10 before:rounded-xl before:transition-opacity">
                        <div class="flex items-center space-x-4">
                            <img class="shrink-0" src="{% static 'media/placeholders/team-20.png' %}" width="48" height="48" alt="Team 20" />
                            <div class="grow">
                                <div class="font-bold text-slate-100 mb-0.5">Ally Golovko</div>
                                <div class="text-sm text-purple-500 font-medium">Software Engineer</div>
                            </div>
                        </div>
                        <a class="shrink-0 text-slate-500 md:opacity-0 group-hover:opacity-100 focus-within:opacity-100 transition-opacity focus:outline-none group-hover:before:absolute group-hover:before:inset-0" href="#0" aria-label="Member's Twitter">
                            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                                <path d="M11.297 13.807 7.424 18H5.276l5.019-5.436L5 6h4.43l3.06 3.836L16.025 6h2.147l-4.688 5.084L19 18h-4.32l-3.383-4.193Zm3.975 2.975h1.19L8.783 7.155H7.507l7.766 9.627Z" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Testimonials -->
    <section class="relative">
        <!-- Radial gradient -->
        <div class="absolute inset-0 overflow-hidden pointer-events-none -z-10" aria-hidden="true">
            <div class="absolute flex items-center justify-center top-0 -translate-y-1/2 left-1/2 -translate-x-1/2 w-1/3 aspect-square">
                <div class="absolute inset-0 translate-z-0 bg-purple-500 rounded-full blur-[120px] opacity-50"></div>
            </div>
        </div>
        <div class="max-w-6xl mx-auto px-4 sm:px-6">
            <div class="py-12 md:py-20">
                <!-- Content -->
                <div class="max-w-3xl mx-auto text-center pb-12 md:pb-20">
                    <h2 class="h2 bg-clip-text text-transparent bg-gradient-to-r from-slate-200/60 via-slate-200 to-slate-200/60 pb-4">Hear from our people</h2>
                    <p class="text-lg text-slate-400">Our company is comprised of people who make bold choices for our clients and the security sector. It's in our DNA to push our limits and make bold changes.</p>
                </div>
                <!-- Grid -->
                <div class="grid lg:grid-cols-3 gap-4 sm:gap-6 max-w-xs mx-auto lg:max-w-none">
                    <!-- Testimonial #01 -->
                    <div class="relative p-5 before:absolute before:inset-0 before:-z-10 before:border before:border-slate-300 before:bg-slate-700 before:opacity-10 before:rounded-xl">
                        <div class="flex items-center justify-between mb-4">
                            <div class="flex items-center space-x-4">
                                <img class="shrink-0" src="{% static 'media/placeholders/testimonial-01.png' %}" width="44" height="44" alt="Testimonial 01" />
                                <div class="grow">
                                    <div class="font-bold text-slate-100">Mary Janiczak</div>
                                    <div class="text-sm text-purple-500 font-medium">Data Engineer</div>
                                </div>
                            </div>
                            <a class="shrink-0 text-slate-500" href="#0" aria-label="Member's Twitter">
                                <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                                    <path d="M11.297 13.807 7.424 18H5.276l5.019-5.436L5 6h4.43l3.06 3.836L16.025 6h2.147l-4.688 5.084L19 18h-4.32l-3.383-4.193Zm3.975 2.975h1.19L8.783 7.155H7.507l7.766 9.627Z" />
                                </svg>
                            </a>
                        </div>
                        <p class="text-sm text-slate-400">“The pace of change and velocity of the product force you to pick up new skills, experiment with new tactics, and walk in a variety of users' shoes.”</p>
                    </div>
                    <!-- Testimonial #02 -->
                    <div class="relative p-5 before:absolute before:inset-0 before:-z-10 before:border before:border-slate-300 before:bg-slate-700 before:opacity-10 before:rounded-xl">
                        <div class="flex items-center justify-between mb-4">
                            <div class="flex items-center space-x-4">
                                <img class="shrink-0" src="{% static 'media/placeholders/testimonial-02.png' %}" width="44" height="44" alt="Testimonial 02" />
                                <div class="grow">
                                    <div class="font-bold text-slate-100">Jack Smith</div>
                                    <div class="text-sm text-purple-500 font-medium">Software Engineer</div>
                                </div>
                            </div>
                            <a class="shrink-0 text-slate-500" href="#0" aria-label="Member's Twitter">
                                <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                                    <path d="M11.297 13.807 7.424 18H5.276l5.019-5.436L5 6h4.43l3.06 3.836L16.025 6h2.147l-4.688 5.084L19 18h-4.32l-3.383-4.193Zm3.975 2.975h1.19L8.783 7.155H7.507l7.766 9.627Z" />
                                </svg>
                            </a>
                        </div>
                        <p class="text-sm text-slate-400">“The pace of change and velocity of the product force you to pick up new skills, experiment with new tactics, and walk in a variety of users' shoes.”</p>
                    </div>
                    <!-- Testimonial #03 -->
                    <div class="relative p-5 before:absolute before:inset-0 before:-z-10 before:border before:border-slate-300 before:bg-slate-700 before:opacity-10 before:rounded-xl">
                        <div class="flex items-center justify-between mb-4">
                            <div class="flex items-center space-x-4">
                                <img class="shrink-0" src="{% static 'media/placeholders/testimonial-03.png' %}" width="44" height="44" alt="Testimonial 03" />
                                <div class="grow">
                                    <div class="font-bold text-slate-100">Anna Johnson</div>
                                    <div class="text-sm text-purple-500 font-medium">Product Designer</div>
                                </div>
                            </div>
                            <a class="shrink-0 text-slate-500" href="#0" aria-label="Member's Twitter">
                                <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                                    <path d="M11.297 13.807 7.424 18H5.276l5.019-5.436L5 6h4.43l3.06 3.836L16.025 6h2.147l-4.688 5.084L19 18h-4.32l-3.383-4.193Zm3.975 2.975h1.19L8.783 7.155H7.507l7.766 9.627Z" />
                                </svg>
                            </a>
                        </div>
                        <p class="text-sm text-slate-400">“The pace of change and velocity of the product force you to pick up new skills, experiment with new tactics, and walk in a variety of users' shoes.”</p>
                    </div>
                </div>
            </div>
        </div>
    </section> {% endcomment %}

    {% include "pages/call_to_action.html" %}

{% endblock %}
