{% extends "base.html" %}
{% load static i18n compress%}

{% block content %}
<!-- Content -->
<section class="relative">
    <!-- Radial gradient -->
    <div class="absolute flex items-center justify-center top-0 -translate-y-1/2 left-1/2 -translate-x-1/2 pointer-events-none -z-10 w-[800px] aspect-square" aria-hidden="true">
        <div class="absolute inset-0 translate-z-0 bg-purple-500 rounded-full blur-[120px] opacity-30"></div>
        <div class="absolute w-64 h-64 translate-z-0 bg-purple-400 rounded-full blur-[80px] opacity-70"></div>
    </div>
    <!-- Particles animation -->
    <div class="absolute inset-0 h-96 -z-10" aria-hidden="true">
        <canvas data-particle-animation data-particle-quantity="15"></canvas>
    </div>
    <!-- Illustration -->
    <div class="md:block absolute left-1/2 -translate-x-1/2 -mt-16 blur-2xl opacity-90 pointer-events-none -z-10" aria-hidden="true">
        <img src="{% static 'media/page-illustration.svg' %}" class="max-w-none" width="1440" height="427" alt="Page Illustration">
    </div>
    <div class="max-w-6xl mx-auto px-4 sm:px-6">
        <div class="pt-32 pb-12 md:pt-40 md:pb-20">
            <!-- Page header -->
            <div class="text-center pb-12 md:pb-20">
                <h1 class="h1 bg-clip-text text-transparent bg-gradient-to-r from-slate-200/60 via-slate-200 to-slate-200/60 pb-4">Privacy Policy</h1>
                <div class="max-w-3xl mx-auto">
                    <p class="text-lg text-slate-400">We encourage you to read them. It's simple and we have nothing to hide.</p>
                </div>
            </div>

            <div class="border-t border-slate-200 border-slate-700">
                <div class="m-auto mt-8">
                    <!-- Posts -->
                    <div class="xl:-translate-x-16">

                        <!-- Post -->
                        <article class="pt-6">
                            <div class="xl:flex">
                                <div class="grow pb-6">
                                    <div class="flex flex-nowrap items-center space-x-2 mb-6">
                                        <div>
                                            <div class="text-slate-200 space-y-6">
                                                <p>
                                                    At SpeleoDB, your privacy is our priority. This policy outlines how we collect, use, store, and protect your information.
                                                </p>

                                                <p class="h5">Data Collection</p>
                                                <p>
                                                    We collect the following information: Email address, Full name and country of residence during signup.
                                                </p>

                                                <p class="h5">Data Usage</p>
                                                <p>
                                                    We use this data solely for the normal operation of the platform. We do not sell or use your data for any other purposes.
                                                </p>

                                                <p class="h5">Data Sharing</p>
                                                <p>
                                                    We do not share your data with any third parties.
                                                </p>

                                                <p class="h5">Data Storage</p>
                                                <p>
                                                    Your data is securely stored in US datacenters. We do not share this data with any other entities.
                                                </p>

                                                <p class="h5">User Rights</p>
                                                <p>
                                                    You have the right to request access to your data, correct any inaccuracies, or request deletion of your data at any time. To do so, please contact us at contact @ speleodb.com.
                                                </p>

                                                <p class="h5">Cookies and Tracking</p>
                                                <p>
                                                    We do not use any tracking technologies. The only cookie used is for authentication purposes.
                                                </p>

                                                <p class="h5">Third-Party Services</p>
                                                <p>
                                                    Our platform is hosted on Railway, and emails are handled by MailerSend. Data storage is managed by Amazon Web Services (AWS) and GitLab.
                                                </p>

                                                <p class="h5">Data Retention</p>
                                                <p>
                                                    We retain your data indefinitely unless you request its deletion.
                                                </p>

                                                <p class="h5">Disclaimer</p>
                                                <p>
                                                    While we strive to provide a reliable and secure platform, SpeleoDB and the USAH Institute are not responsible for any data loss, security breaches, or other issues that may arise.
                                                </p>

                                                <p class="h5">Children’s Privacy</p>
                                                <p>
                                                    This website is not intended for children and does not expect any child users.
                                                </p>

                                                <p class="h5">Policy Updates</p>
                                                <p>
                                                    Any changes to this privacy policy will be communicated via email.
                                                </p>
                                                <hr class="pb-6">
                                                If you have any questions or concerns about our privacy policy, please contact us at contact @ speleodb.com.
                                                <br>
                                                <b>Thank you for using and trusting SpeleoDB.</b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% include "pages/call_to_action.html" %}
{% endblock %}