{% extends "base_admin.html" %}
{% load static i18n compress%}

{% load countries %}

{% block content %}
<main class="grow">
    <div class="px-4 sm:px-6 lg:px-8 py-8 w-full max-w-9xl mx-auto">

        <!-- Page header -->
        <div class="sm:flex sm:justify-between sm:items-center mb-8">

            <!-- Left: Title -->
            <div class="mb-4 sm:mb-0">
                <h1 class="text-2xl md:text-3xl text-slate-800 dark:text-slate-100 font-bold">
                    Project: {{ project.name }}
                </h1>
            </div>

        </div>

        <!-- Project Details -->
        <div class="bg-white dark:bg-slate-800 shadow-lg rounded-sm mb-8">
            <div class="flex flex-col md:flex-row md:-mr-px">

                <!-- Sidebar -->
                <div class="flex flex-nowrap overflow-x-scroll no-scrollbar md:block md:overflow-auto px-3 py-6 border-b md:border-b-0 md:border-r border-slate-200 dark:border-slate-700 min-w-60 md:space-y-3">
                    <!-- Group 1 -->
                    <div>
                        <div class="text-xs font-semibold text-slate-400 dark:text-slate-500 uppercase mb-2">Project Settings</div>
                        <ul class="flex flex-nowrap md:block mr-3 md:mr-0">
                            <li class="mr-0.5 md:mr-0 md:mb-0.5">
                                <a class="flex items-center px-2.5 py-2 rounded whitespace-nowrap {% if request.url_name == 'dashboard' %}bg-indigo-50 dark:bg-indigo-500/30{% endif %}" href="{% url 'private:project_details' project_id=project.id %}">
                                    {% if request.url_name == 'project_details' %}
                                        <svg class="icon icon-tabler icon-tabler-adjustments w-4 h-4 shrink-0 stroke-current text-indigo-400 mr-2" viewBox="0 0 22 22"  stroke-width="2" fill="none">
                                    {% else %}
                                        <svg class="icon icon-tabler icon-tabler-adjustments w-4 h-4 shrink-0 stroke-current text-slate-400 dark:text-slate-500 mr-2" viewBox="0 0 22 22" stroke-width="2" fill="none">
                                    {% endif %}
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                            <path d="M12 14m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                                            <path d="M12 10.5v1.5" />
                                            <path d="M12 16v1.5" />
                                            <path d="M15.031 12.25l-1.299 .75" />
                                            <path d="M10.268 15l-1.3 .75" />
                                            <path d="M15 15.803l-1.285 -.773" />
                                            <path d="M10.285 12.97l-1.285 -.773" />
                                            <path d="M14 3v4a1 1 0 0 0 1 1h4" />
                                            <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />
                                        </svg>
                                    {% if request.url_name == 'project_details' %}
                                        <span class="text-sm font-medium text-indigo-500 dark:text-indigo-400">
                                    {% else %}
                                        <span class="text-sm font-medium text-slate-600 dark:text-slate-300 hover:text-slate-700 dark:hover:text-slate-200">
                                    {% endif %}
                                        Project Details
                                    </span>
                                </a>
                            </li>
                            <li class="mr-0.5 md:mr-0 md:mb-0.5">
                                <a class="flex items-center px-2.5 py-2 rounded whitespace-nowrap {% if request.url_name == 'dashboard' %}bg-indigo-50 dark:bg-indigo-500/30{% endif %}" href="{% url 'private:project_permissions' project_id=project.id %}">
                                    {% if request.url_name == 'project_permissions' %}
                                        <svg class="w-4 h-4 shrink-0 fill-current text-indigo-400 mr-2" viewBox="0 0 16 16">
                                    {% else %}
                                        <svg class="w-4 h-4 shrink-0 fill-current text-slate-400 dark:text-slate-500 mr-2" viewBox="0 0 16 16">
                                    {% endif %}
                                        <path d="M12.311 9.527c-1.161-.393-1.85-.825-2.143-1.175A3.991 3.991 0 0012 5V4c0-2.206-1.794-4-4-4S4 1.794 4 4v1c0 1.406.732 2.639 1.832 3.352-.292.35-.981.782-2.142 1.175A3.942 3.942 0 001 13.26V16h14v-2.74c0-1.69-1.081-3.19-2.689-3.733zM6 4c0-1.103.897-2 2-2s2 .897 2 2v1c0 1.103-.897 2-2 2s-2-.897-2-2V4zm7 10H3v-.74c0-.831.534-1.569 1.33-1.838 1.845-.624 3-1.436 3.452-2.422h.436c.452.986 1.607 1.798 3.453 2.422A1.943 1.943 0 0113 13.26V14z" />
                                    </svg>
                                    {% if request.url_name == 'project_permissions' %}
                                        <span class="text-sm font-medium text-indigo-500 dark:text-indigo-400">
                                    {% else %}
                                        <span class="text-sm font-medium text-slate-600 dark:text-slate-300 hover:text-slate-700 dark:hover:text-slate-200">
                                    {% endif %}
                                        Project Permissions
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    {% comment %} <!-- Group 2 -->
                    <div>
                        <div class="text-xs font-semibold text-slate-400 dark:text-slate-500 uppercase mt-4 mb-2">Any Question or Feedback ?</div>
                        <ul class="flex flex-nowrap md:block mr-3 md:mr-0">
                            <li class="mr-0.5 md:mr-0 md:mb-0.5">
                                <a class="flex items-center px-2.5 py-2 rounded whitespace-nowrap {% if request.url_name == 'feedback' %}bg-indigo-50 dark:bg-indigo-500/30{% endif %}" href="{% url 'private:feedback' %}">
                                    {% if request.url_name == 'feedback' %}
                                        <svg class="w-4 h-4 shrink-0 fill-current text-indigo-400 mr-2" viewBox="0 0 16 16">
                                    {% else %}
                                        <svg class="w-4 h-4 shrink-0 fill-current text-slate-400 dark:text-slate-500 mr-2" viewBox="0 0 16 16">
                                    {% endif %}
                                        <path d="M7.001 3h2v4h-2V3zm1 7a1 1 0 110-2 1 1 0 010 2zM15 16a1 1 0 01-.6-.2L10.667 13H1a1 1 0 01-1-1V1a1 1 0 011-1h14a1 1 0 011 1v14a1 1 0 01-1 1zM2 11h9a1 1 0 01.6.2L14 13V2H2v9z" />
                                    </svg>
                                    {% if request.url_name == 'feedback' %}
                                        <span class="text-sm font-medium text-indigo-500 dark:text-indigo-400">
                                    {% else %}
                                        <span class="text-sm font-medium text-slate-600 dark:text-slate-300 hover:text-slate-700 dark:hover:text-slate-200">
                                    {% endif %}
                                        Give Feedback
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div> {% endcomment %}
                </div>

                <!-- Right Panel -->
                {% block right_panel %}
                {% endblock right_panel %}

            </div>
        </div>

    </div>
</main>
{% endblock content %}