{% extends "pages/project/base.html" %}
{% load static i18n compress%}

{% load countries %}

{% block right_panel %}

<div class="grow">
    <div class="p-6 space-y-6">

        <!-- Page header -->
        <div class="mb-16 block">

            <!-- Left: Title -->
            <div class="mb-4 sm:mb-0 w-fit block float-left">
                <h1 class="text-2xl md:text-3xl text-slate-100 font-bold">
                    Project's Lock History
                </h1>
            </div>

            {% csrf_token %}

            <!-- Right: Actions -->
            <div class="grid grid-flow-col sm:auto-cols-max justify-start sm:justify-end gap-2 w-fit block float-right">

                <!-- New button -->
                {% if project.mutex_owner or not has_write_access %}
                    <button class="btn bg-slate-600 text-white" disabled>
                {% else %}
                    <button id="btn_lock_project" class="btn bg-indigo-500 hover:bg-indigo-600 text-white">
                {% endif %}
                    <svg class="w-4 h-4 stroke-current opacity-100 shrink-0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M5 13a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-6z" />
                        <path d="M11 16a1 1 0 1 0 2 0a1 1 0 0 0 -2 0" />
                        <path d="M8 11v-4a4 4 0 1 1 8 0v4" />
                      </svg>
                    <span class="hidden xs:block ml-2">Lock Project Edition</span>
                </button>

            </div>

        </div>

        <!-- Table -->
        <div class="bg-slate-800 shadow-lg rounded-sm border border-slate-200 border-slate-700">

            <div>

                <!-- Table -->
                <div class="overflow-x-auto">
                    <table class="table-auto w-full text-slate-300">
                        <!-- Table header -->
                        <thead class="text-xs font-semibold uppercase text-slate-400 bg-slate-900/20 border-t border-b border-slate-700">
                            <tr>
                                <th class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                                    <div class="font-semibold text-center">User</div>
                                </th>
                                <th class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                                    <div class="font-semibold text-center">Lock Date</div>
                                </th>
                                <th class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                                    <div class="font-semibold text-center">Last Modified Date</div>
                                </th>
                                <th class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                                    <div class="font-semibold text-center">Unlock by</div>
                                </th>
                                <th class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                                    <div class="font-semibold text-center">Unlock Comment</div>
                                </th>
                                <th class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                                    <div class="font-semibold text-center">Unlock</div>
                                </th>
                            </tr>
                        </thead>
                        <!-- Table body -->
                        <tbody class="text-sm divide-y divide-slate-200 divide-slate-700">
                            {% for mutex in mutexes %}
                                <!-- Row -->
                                <tr>
                                    <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                                        <div class="text-center">
                                            <div class="font-medium text-slate-100">{{ mutex.user }}</div>
                                        </div>
                                    </td>
                                    <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                                        <div class="text-center">{{ mutex.creation_date|date:"Y/m/d H:i" }}</div>
                                    </td>
                                    <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                                        <div class="text-center">{{ mutex.modified_date|date:"Y/m/d H:i" }}</div>
                                    </td>
                                    <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                                        <div class="text-center">{% if mutex.closing_user %}{{ mutex.closing_user }}{% endif %}</div>
                                    </td>
                                    <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                                        <div class="text-center">{{ mutex.closing_comment }}</div>
                                    </td>
                                    <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap text-center w-16">
                                        {% if mutex.is_active %}
                                            {% if mutex.user == user or is_project_admin %}
                                            <a href="#" class="btn_unlock">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-lock-open stroke-current h-6 text-rose-500 inline" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                    <path d="M5 11m0 2a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2z" />
                                                    <path d="M12 16m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                                    <path d="M8 11v-5a4 4 0 0 1 8 0" />
                                                </svg>
                                            </a>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div>
</div>

{% include 'snippets/modal_success.html' %}
{% include 'snippets/modal_error.html' %}

{% endblock right_panel %}


{% block inline_extra_js %}
<script>

    $(document).ready(function () {

        $("body").click(function() {
            if ($("#modal_success").is(":visible")) {
                $("#modal_success").hide();
            }
            if ($("#modal_error").is(":visible")) {
                $("#modal_error").hide();
            }
        });

        $('.btn_unlock').click(function () {
            var csrftoken = $('input[name^=csrfmiddlewaretoken]').val();

            $("#error_div").hide();
            $("#success_div").hide();

            $.ajax({
                url: "{% url 'api:v1:release_project' id=project.id %}",
                method: "POST",
                contentType: "application/json; charset=utf-8",
                cache: false,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    return true;

                },
                success: function (data) {
                    $("#modal_success_txt").html("The project has been unlocked for edition.");
                    $("#modal_success").css('display', 'flex');

                    window.setTimeout(function(){
                        // Refresh the page
                        window.location.reload();
                    }, 2000);
                },
                error: function (data) {
                  if (data.status == 429) {
                    $("#modal_error_txt").text(data.responseJSON["detail"]);
                    $("#modal_error").css('display', 'flex');
                  }
                  else {
                    if ("error" in data.responseJSON) {
                        $("#modal_error_txt").text(data.responseJSON["error"]);
                    } else {
                        $("#modal_error_txt").text(data.responseJSON["errors"][0]);
                    }
                    $("#modal_error").css('display', 'flex');
                  }
                }
            });
            return false; // prevent default
        });

    {% if not project.mutex_owner and has_write_access %}
        $('#btn_lock_project').click(function () {
            var csrftoken = $('input[name^=csrfmiddlewaretoken]').val();

            $("#error_div").hide();
            $("#success_div").hide();

            $.ajax({
                url: "{% url 'api:v1:acquire_project' id=project.id %}",
                method: "POST",
                contentType: "application/json; charset=utf-8",
                cache: false,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    return true;

                },
                success: function (data) {
                    $("#modal_success_txt").html("The project has been locked for edition.");
                    $("#modal_success").css('display', 'flex');

                    window.setTimeout(function(){
                        // Refresh the page
                        window.location.reload();
                    }, 2000);
                },
                error: function (data) {
                    if (data.status == 429) {
                        $("#modal_error_txt").text(data.responseJSON["detail"]);
                        $("#modal_error").css('display', 'flex');
                    }
                    else {
                        if ("error" in data.responseJSON) {
                            $("#modal_error_txt").text(data.responseJSON["error"]);
                        } else {
                            $("#modal_error_txt").text(data.responseJSON["errors"][0]);
                        }
                        $("#modal_error").css('display', 'flex');
                    }
                }
            });
            return false; // prevent default
        });
    {% endif %}

    });
</script>

{% endblock inline_extra_js %}
