{% extends "pages/project/base.html" %}
{% load static i18n compress%}

{% block right_panel %}
<div class="grow">
    <div class="p-6 space-y-6">

        <!-- Page header -->
        <div class="mb-16 block">

            <!-- Left: Title -->
            <div class="mb-4 sm:mb-0 w-fit block float-left">
                <h1 class="text-2xl md:text-3xl text-slate-100 font-bold">
                    Project's Revision History
                </h1>
            </div>

        </div>

        <!-- Table -->
        <div class="bg-slate-800 shadow-lg rounded-sm border border-slate-200 border-slate-700">
            <!-- Table -->
            <table class="table-auto w-full text-slate-300">
                <!-- Table header -->
                <thead class="text-xs font-semibold uppercase text-slate-400 bg-slate-900/20 border-t border-b border-slate-700">
                    <tr>
                        <th class="px-2 first:pl-5 last:pr-5 py-3">
                            <div class="font-semibold text-center">ID</div>
                        </th>
                        <th class="px-2 first:pl-5 last:pr-5 py-3">
                            <div class="font-semibold text-center">Author</div>
                        </th>
                        <th class="px-2 first:pl-5 last:pr-5 py-3">
                            <div class="font-semibold text-center">Date</div>
                        </th>
                        <th class="px-2 first:pl-5 last:pr-5 py-3 max-w-lg">
                            <div class="font-semibold text-center">Message</div>
                        </th>
                        <th class="px-2 first:pl-5 last:pr-5 py-3">
                            <div class="font-semibold text-center">Download</div>
                        </th>
                        <th class="px-2 first:pl-5 last:pr-5 py-3">
                            <div class="font-semibold text-center">Explorer</div>
                        </th>
                    </tr>
                </thead>
                <!-- Table body -->
                <tbody id="commit-table-container" class="text-sm divide-y divide-slate-200 divide-slate-700">
                    <!-- Hidden Template Row -->
                    <tr id="commit-template" style="display: none;">
                        <!-- Commit ID -->
                        <td class="px-2 first:pl-5 last:pr-5 py-3">
                            <div class="text-center">
                                <div class="font-medium text-slate-100"></div>
                            </div>
                        </td>
                        <!-- Commit Author -->
                        <td class="px-2 first:pl-5 last:pr-5 py-3">
                            <div class="text-center">
                                <div class="font-medium text-slate-100"></div>
                            </div>
                        </td>
                        <!-- Commit Date -->
                        <td class="px-2 first:pl-5 last:pr-5 py-3">
                            <div class="text-center"></div>
                        </td>
                        <!-- Commit Message -->
                        <td class="px-2 first:pl-5 last:pr-5 py-3 max-w-lg">
                            <div class="text-center">
                                <div class="font-medium text-slate-100"></div>
                            </div>
                        </td>
                        <!-- Commit Download -->
                        <td class="px-2 first:pl-5 last:pr-5 py-3 text-center w-16">
                            <!-- Menu button -->
                            <div class="relative inline-flex" x-data="{ open: false }">
                                <button 
                                    class="rounded-full" 
                                    :class="open ? 'bg-slate-700 text-slate-400': 'text-slate-500 hover:text-slate-400'" 
                                    aria-haspopup="true"
                                    @click.prevent="open = !open" 
                                    :aria-expanded="open"
                                >
                                    <span class="sr-only">Menu</span>
                                    <svg class="w-8 h-8 fill-current" viewBox="0 0 32 32">
                                        <circle cx="16" cy="16" r="2" />
                                        <circle cx="10" cy="16" r="2" />
                                        <circle cx="22" cy="16" r="2" />
                                    </svg>
                                </button>
                                <div class="origin-top-right z-10 absolute top-full right-0 min-w-36 bg-slate-800 border border-slate-700 py-1.5 rounded shadow-lg overflow-hidden mt-1" @click.outside="open = false" @keydown.escape.window="open = false" x-show="open" x-transition:enter="transition ease-out duration-200 transform" x-transition:enter-start="opacity-0 -translate-y-2" x-transition:enter-end="opacity-100 translate-y-0" x-transition:leave="transition ease-out duration-200" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" x-cloak>
                                    <ul id="format-download-container">
                                        <li id="format-download-template" style="display: none;">
                                            <a
                                                class="dl_link_format font-medium text-sm hover:text-slate-200 flex py-1 px-3 mb-2" 
                                                @click="open = false" 
                                                @focus="open = true" 
                                                @focusout="open = false" 
                                                target="_blank" 
                                                href="#"
                                            ></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>

                        <!-- Commit File Explorer -->
                        <td class="px-2 first:pl-5 last:pr-5 py-3 text-center w-28">
                            <div class="relative inline-flex" x-data="{ open: false }">
                                <a href="#" class="revision_explorer rounded-full">
                                    <span class="sr-only">Menu</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-folders stroke-current" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round" height="1.5em" viewBox="2.25 3.25 19.5 18.5">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path d="M9 4h3l2 2h5a2 2 0 0 1 2 2v7a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-9a2 2 0 0 1 2 -2" />
                                        <path d="M17 17v2a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-9a2 2 0 0 1 2 -2h2" />
                                    </svg>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <!-- End of Hidden Template Row -->
                </tbody>
            </table>
        </div>

    </div>
</div>

<div id="loading_spinner" class="loading"></div>

{% endblock right_panel %}

{% block inline_extra_js %}
<script>
$(window).on('load', function() {

    // Ensure the loading spinner is being displayed
    $("#loading_spinner").show();

    $.ajax({
        url : "{% url 'api:v1:one_project_revisions_apiview' id=project.id %}",
        type : "GET",
        dataType : "json",
        async: false,
        success: function(data){
            if (data.success && data.data.commits) {

                // Iterate over each commit and append a new row to the table
                data.data.commits.forEach(function (commit) {

                    // Clone the hidden template row
                    var $row = $('#commit-template').clone();

                    // Remove the "ID" (to prevent deletion/cleanup) and make it unique
                    $row.removeAttr('id');

                    // Remove the "hidden" style (make it visible)
                    $row.removeAttr('style');

                    // Populate the row with commit data
                    // ---------------------------------------------------------------------
                    $row.find('td').eq(0).find('.font-medium').text(commit.hexsha_short);    // Commit ID
                    $row.find('td').eq(1).find('.font-medium').text(commit.author_name);     // Author
                    $row.find('td').eq(2).find('.text-center').text(commit.committed_date);  // Date
                    $row.find('td').eq(3).find('.font-medium').text(commit.message);         // Message

                    // Adjusting all the links
                    // ---------------------------------------------------------------------

                    // 1. Project Explorer Link
                    var $link = $row.find("a.revision_explorer");
                    if ($link.length) {  // if found
                        $link.attr("href", commit.url);
                    }

                    // 2. File Download Link
                    commit.formats.forEach(function(dl_format_data) {

                        var $download_link = $row.find('#format-download-template').clone();

                        // Ensure the element exists
                        if ($download_link.length === 0) {
                            console.error('#format-download-template not found.');
                            return;
                        }

                        // Modify the cloned template
                        $download_link
                            .removeAttr('id')    // Remove the ID to avoid duplicates
                            .removeAttr('style') // Make it visible
                            .find('a')
                            .attr("href", dl_format_data.download_url)
                            .text(dl_format_data.name);
                
                        // Append the modified clone to the <ul>
                        $row.find('#format-download-container').append($download_link);
                    });

                    // Cleanup the format download template
                    $row.find('#format-download-template').remove();

                    // FINALLY: Append the populated row to the table body
                    // ---------------------------------------------------------------------
                    $('#commit-table-container').append($row);

                });
            }
            else {
                console.error(data.error);
                return;
            }

            // Cleanup the template row
            $('#commit-template').remove();
        },
        error: function (textStatus, errorThrown) {
            console.error("ERROR: " + data.textStatus + " & " + errorThrown);
            return;
        }
    });

    $("#loading_spinner").hide();

});
</script>
{% endblock inline_extra_js %}
