{% load permission_levels %}

<!-- Modal dialog -->
<div id="permission_modal" class="fixed inset-0 z-40 overflow-hidden flex items-center my-4 justify-center px-4 sm:px-6" style="display: none">
    <div class="bg-slate-800 rounded shadow-lg overflow-auto max-w-lg w-full max-h-full border-2 border-slate-700">
        <!-- Modal header -->
        <div class="px-5 py-3 border-b border-slate-700">
            <div class="flex justify-between items-center">
                <div id="permission_modal_title" class="font-semibold text-slate-100">Add Team to the Project</div>
                <button class="btn_close text-slate-500 hover:text-slate-400">
                    <div class="sr-only">Close</div>
                    <svg class="w-4 h-4 fill-current">
                        <path d="M7.95 6.536l4.242-4.243a1 1 0 111.415 1.414L9.364 7.95l4.243 4.242a1 1 0 11-1.415 1.415L7.95 9.364l-4.243 4.243a1 1 0 01-1.414-1.415L6.536 7.95 2.293 3.707a1 1 0 011.414-1.414L7.95 6.536z" />
                    </svg>
                </button>
            </div>
        </div>
        <!-- Modal content -->
        <div class="px-5 py-4">
            <div class="text-sm">
                <div id="permission_modal_header" class="font-medium text-slate-100 mb-3"></div>
            </div>
            <form id="permission_form" autocomplete="off">
                <div class="space-y-3">
                    {% csrf_token %}
                    <div>
                        <label class="block text-sm font-medium mb-1" for="team">Team <span class="text-rose-500">*</span></label>
                        <select id="team" name="team" class="form-select max-w-full w-128 h-10 mb-4">
                            <option disabled selected value>Select a team ...</option>
                        {% for team in available_teams %}
                            <option value="{{ team.id }}">{{ team.name }}</option>
                        {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label class="block text-sm font-medium mb-1" for="level">Access Level:<span class="text-rose-600"> *</span></label>
                        <select id="level" name="level" class="form-select max-w-full w-128 h-10 mb-4">
                            <option disabled selected value>Select an option ...</option>
                        {% get_team_permission_levels as levels %}
                        {% for level in levels %}
                            <option value="{{ level }}">{{ level }}</option>
                        {% endfor %}
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <!-- Modal footer -->
        <div class="px-5 py-4 border-t border-slate-700">
            <div class="flex flex-wrap justify-end space-x-2">
                <button class="btn_close btn-sm border-slate-700 hover:border-slate-600 text-slate-300 w-32">Cancel</button>
                <button id="btn_submit_add" class="btn-sm bg-indigo-500 hover:bg-indigo-600 text-white w-32">Send</button>
            </div>
        </div>
    </div>
</div>
